*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 
----------------------------------------------------------------------
Global 
*/

body {
	width: 340px;
	min-width: 275px;
	max-height: 450px;
	background-color: #dadadaff;
	overflow: hidden;
	position: fixed;
	color: black;
	padding: 7px;
	box-shadow: 0 0 10px #363636;
}

.button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

::placeholder {
	font-family: arial;
	font-size: 12px;
	color: #525252;
}

/* 
----------------------------------------------------------------------
Header 
*/
.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	max-height: 40px;
	overflow: hidden;
	margin-top: 4px;
	margin-bottom: 15px;
	color: #313131;
}

.header__logo-text {
	max-width: 100%;
	max-height: 100%;
	align-items: center;
	display: flex;
}

.header__logo {
	max-width: 22px;
	width: 80%;
	height: 80%;
	margin-right: 9px;
}

.header__text {
	font-family: sans-serif;
	font-size: 100%;
	text-align: center;
	height: 100%;
	width: 100%;
}

#close-popup {
	max-width: 35px;
	height: 100%;
}

#close-popup > img {
	width: 95%;
	height: 95%;
}

/* 
----------------------------------------------------------------------
Date-Time
*/
.date-time {
	position: relative;
	display: flex;
	margin-right: 30px;
	margin-left: 3px;
	align-items: center;
	margin-bottom: 12px;
}

.date-time-box {
	position: relative;
	max-height: 20px;
	width: auto;
	background: #f4f4f4c7;
	display: flex;
	overflow: hidden;
	border-radius: 0px 4px 4px 0px;
}

#date {
	margin-right: 15px;
}

.date-time__icon-box {
	padding: 2px;
	background-color: #79c497;
}

.date-time__icon-box > img {
	max-width: 100%;
	max-height: 20px;
}

.date-time__text {
	font-family: Arial;
	font-size: 80%;
	text-align: center;
	color: #505050;
	width: 100%;
	padding: 3px;
	overflow: hidden;
}

/*
---------------------------------------------------------------------- 
Open-Tabs-ScrollBar
*/
#open-tabs-scrollbar {
	min-width: 100%;
	background-color: #ffffff;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-bottom: 15px;
	margin-left: 3px;
}

.open-tab {
	position: relative;
	width: 97%;
	height: 27px;
	background: #dadada;
	display: flex;
	align-items: center;
	border-radius: 12px 12px 12px 12px;
	padding: 3px;
	overflow: hidden;
	justify-content: center;
	margin-top: 2px;
	margin-bottom: 2px;
}

.open-tab__favicon {
	position: absolute;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	margin-left: 6px;
}

.open-tab__title {
	font-family: courier;
	font-size: 85%;
	text-align: center;
	vertical-align: middle;
	color: #474747;
}

.button.tab-close {
	position: absolute;
	right: 0;
	vertical-align: middle;
	height: 65%;
	width: auto;
	overflow: hidden;
}

.button.tab-close > img {
	display: block;
	opacity: 0.6;
	max-height: 100%;
	height: auto;
	width: auto;
}

/* 
----------------------------------------------------------------------
Label-Tag-Form
*/
.label-tag-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.input-field {
	width: 97%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.input-field > input {
	width: 100%;
	max-height: 30px;
	padding: 4px;
	border-style: solid;
	border-color: #525252c2;
	background: transparent;
	border-radius: 5px;
	margin-top: 7px;
	margin-bottom: 5px;
}

.button.save {
	width: 95%;
	height: 35px;
	background: #363636;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 10px;
	box-shadow: 0 1px 4px #363636e7;
}

.button.save > img {
	max-width: 25px;
	max-height: 25px;
	margin-right: 5px;
	padding: 2px;
}

#save-button__text {
	font-family: arial;
	font-weight: bold;
	font-size: 100%;
	color: #dbdbdb;
}

/*
----------------------------------------------------------------------
Footer
*/
.footer {
	width: 100%;
	height: 60px;
	background: #bdbdbd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.button.settings {
	max-width: 37px;
	overflow: hidden;
}

.button.settings > img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.button.saved-states {
	height: 90%;
	width: 50%;
	max-width: 120px;
	max-height: 35px;
	background: #258e4e;
	display: flex;
	align-items: center;
	border-radius: 4px;
	margin-right: 5px;
	justify-content: center;
	box-shadow: 0 1px 4px #363636e7;
}

#saved-states-button__text {
	font-family: arial;
	font-size: 100%;
	color: white;
	margin-right: 4px;
}

.button.saved-states > img {
	width: 0.9rem;
	height: 0.9rem;
}
